[Desktop Entry]
Type=Application
Exec=/opt/Flux-Auto-Start-for-Linux/startFlux.sh
Icon=/opt/Flux-Auto-Start-for-Linux/flux.png
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Flux
Name=Flux
Comment[en_US]=Start flux with Zip code based on current Ip
Comment=Start flux with Zip code based on current Ip
